@page
@model AbbyWeb.Pages.Admin.MenuItems.UpsertModel

<form method="post" enctype="multipart/form-data">
    <input hidden asp-for="MenuItem.Id"/>
    <div class="border p-4 mt-4">
        <div class="row pb-2">
            <div class="col-9">
                <h2 class="text-primary ps-3">
                    @(Model.MenuItem.Id != 0 ? "Update" : "Create") Menu Item
                </h2>
                <hr/>
                <div class="mb-3">
                    <label asp-for="MenuItem.Name">Name:</label>
                    <input class="form-control" asp-for="MenuItem.Name"/>
                    <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MenuItem.Description">Description:</label>
                    <textarea class="form-control" asp-for="MenuItem.Description"></textarea>
                    <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MenuItem.Price">Price:</label>
                    <input class="form-control" asp-for="MenuItem.Price"/>
                    <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MenuItem.ImageUrl">Image</label>
                    <input type="file" name="files" id="uploadBox" class="form-control" asp-for="MenuItem.ImageUrl"/>
                </div>

                <div class="mb-3">
                    <label asp-for="MenuItem.CategoryId">Category</label>
                    <select asp-for="MenuItem.CategoryId" asp-items="Model.CategoryList" class="form-select">
                        <option disabled selected>Select Category</option>
                    </select>
                    <span asp-validation-for="MenuItem.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MenuItem.FoodTypeId">FoodType</label>
                    <select asp-for="MenuItem.FoodTypeId" asp-items="Model.FoodTypeList" class="form-select">
                        <option disabled selected>Select Category</option>
                    </select>
                    <span asp-validation-for="MenuItem.FoodTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                @if (Model.MenuItem.Id != 0)
                {
                    <img class="h-100" scr="@Model.MenuItem.ImageUrl"/>
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">
            <i class="bi bi-pencil-square"></i> @(Model.MenuItem.Id != 0 ? "Update" : "Create")
        </button>
        <a asp-page="Index" class="btn btn-outline-secondary" style="width: 150px">Back</a>
    </div>
</form>

@section Scripts
    {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
}

